@import 'icomoon/style.css';
* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Arial;
  background: #f1f1f1;
}
.containerInicio {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}
.containerInicio article {
  height: auto;
  width: 100%;
  left: 0%;
  position: relative;
  float: left;
  margin: 0px auto;
  height: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  background: #f1f1f1;
}
.containerInicio section form {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  width: 95%;
  margin: 0px auto;
  background: #fff;
}
.containerInicio section form input {
  brackground: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #003a66;
  margin: 20px 10%;
  padding: 5px 0px;
}
.containerInicio section form button {
  width: 50%;
  border: none;
  padding: 10px;
  margin: 0px 25%;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  background: #003a66;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.containerInicio section form button:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.container {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  -moz-animation: abajo;
  -webkit-animation: abajo;
  -ms-animation: abajo;
  -o-animation: abajo;
}
.container .menu {
  background: #000;
  color: #fff;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -moz-box-pack: distribute;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  height: auto;
}
.container .menu p {
  font-size: 1em;
  width: 50%;
  padding: 10px 0px;
}
.container .menu span {
  font-size: 1em;
  width: 5%;
  padding: 10px 0px;
}
.container article {
  width: 97%;
  display: block;
  position: relative;
  float: left;
  margin: 5px 1.5%;
  left: -100%;
}
.container article section {
  height: auto;
  background: #fff;
}
.container article section form input {
  width: 90%;
  padding: 0px 2%;
  margin: 5px 2.5%;
  height: 2.5em;
  border: none;
  border-bottom: 1px solid #003a66;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.container article section form input:hover {
  border-bottom: 3px solid #003a66;
}
.container article section form .anio {
  width: 25%;
  float: left;
  position: relative;
  margin: 0px 2%;
}
.container article section form button {
  border: none;
  background: #003a66;
  color: #fff;
  width: 50%;
  margin: 10px 25%;
  height: 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 10px;
}
.container article section form button:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.container article section h1 {
  width: 100%;
  text-align: center;
  paddin: 10px;
  display: block;
}
.container .general {
  background: #fff;
  width: 100%;
  height: 250px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  margin: 5px 0%;
}
.container .general h1 {
  wdith: 100%;
}
.container .general p {
  width: 90%;
  text-align: justify;
  margin: 0px auto;
}
.container nav {
  z-index: 500;
  position: fixed;
  left: -100%;
  width: 80%;
}
.container nav ul {
  list-style: none;
  background: #003a66;
}
.container nav ul li {
  display: block;
  list-style: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.container nav ul li:first-of-type {
  border-top: 1px solid #fff;
}
.container nav ul li:hover {
  font-size: 1.5em;
  letter-spacing: 5px;
}
.container nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  width: 100%;
}
.container nav ul li a span {
  margin: 0px 10px;
}
@-moz-keyframes abajo {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes abajo {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes abajo {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes abajo {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
