@import 'nib'
@import 'icomoon/style.css'

vendor-prefixes = moz webkit ms o

sombra1  = 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24)
sombra12 = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
sombra2  = 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
sombra3  = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
sombra4  = 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
sombra5  = 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

azul = #003A66
fondo = #F1F1F1

@keyframes abajo
	0%
		opacity .1
	100%
		opacity 1
*
	margin 0px
	padding 0px
	
body, html 
	height 100%
	width 100%
	font-size 16px
	font-family Arial
	background fondo
//Estilo para el formulario de inicio de sesion
.containerInicio
	width 100%
	height 100%
	background fondo
	
	article 
		height auto
		width 100%
		left 0%
		position relative
		float left
		margin 0px auto
		height 100%
		display flex
		flex-direction column
		justify-content center
		background fondo
	section 	
		form 
			box-shadow sombra1
			width 95%
			margin 0px auto
			background white
			input
				brackground none
				width 80%
				border none
				border-bottom 1px solid azul
				margin 20px 10%
				padding 5px 0px
			button 
				width 50%
				border none
				padding 10px
				margin 0px 25%
				margin-top 0px
				margin-bottom 10px
				border-radius 10px
				background azul
				color white
				box-shadow sombra1
				transition all 0.2s ease-in-out
				&:hover
					box-shadow sombra12
//Estilos Generales
.container
	width 100%
	height 100%
	background fondo
	animation abajo
	.menu	
		background black
		color white
		display flex
		justify-content space-around 
		height auto
		p
			font-size 1em
			width 50%
			padding 10px 0px
		span
			font-size 1em
			width 5%
			padding 10px 0px
	article
		width 97%
		display block
		position relative
		float left
		margin 5px 1.5%
		left -100%
		section
			height auto
			background white
			form
				input
					width 90%
					padding 0px 2%
					margin 5px 2.5%
					height 2.5em
					border none
					border-bottom 1px solid azul
					transition all 0.2s ease-in-out
					&:hover
						border-bottom 3px solid azul
				.anio 
					width 25%
					float left
					position relative
					margin 0px 2%
					
				button 
					border none
					background azul
					color white
					width 50%
					margin 10px 25%
					height 25px
					box-shadow sombra1
					transition all 0.2s ease-in-out
					border-radius 10px
					&:hover
						box-shadow sombra12
						
			h1
				width 100%
				text-align center
				paddin 10px
				display block
	.general
		background white
		width 100%
		height 250px
		border 1px solid white
		box-shadow sombra1
		margin 5px 0%
		h1
			wdith 100%
		p
			width 90%
			text-align justify
			margin 0px auto
		

			
	nav
		z-index 500
		position fixed
		left -100%
		width 80%
		ul
			list-style none
			background azul
			li
				display block
				list-style none
				border-bottom 1px solid white
				width 100%
				transition all 0.2s ease-in-out
				&:first-of-type
					border-top 1px solid white
				&:hover
					font-size 1.5em
					letter-spacing 5px
				a
					display block
					color white
					text-decoration none
					padding 10px 0px
					width 100%
					span 
						margin 0px 10px
					